{
  "semi": true,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false
}
